# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# =========================
# Environment variables (IMPORTANT)
# =========================
.env

# =========================
# Logs
# =========================
*.log
logs/


# Vector DB / RAG storage
vectorstore/

# =========================
# Jupyter / Colab
# =========================
.ipynb_checkpoints/

# =========================
# System files
# =========================
.DS_Store
Thumbs.db

# =========================
# HuggingFace cache
# =========================
.cache/